# Python
*.pyc
*.pyo
__pycache__/
*.pyd
*.db

# IDEs
.vscode/
.idea/

# Operating System files
.DS_Store
Thumbs.db

# Virtual environments
venv/
env/
.venv/
# Logs
*.log

# PyInstaller
*.spec

# Jupyter Notebook
.ipynb_checkpoints/

# Config files
config/settings.yaml
config/logging.conf

# Other
*.bak
*.swp

